<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <%-include('../HTML/meta_data.html')%>
    <meta property="og:description" content="숫자를 문자열로 변환">
    <link rel="stylesheet" type="text/css" href="../CSS/from_number.css" />
  </head>
  <body>
    <%-include('../HTML/header.html')%>

    <%-include('../HTML/from_number.html')%>

    <%-include('../HTML/footer.html')%>
  </body>
</html>
