<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <%-include('../HTML/meta_data.html')%>
    <link rel="stylesheet" type="text/css" href="../CSS/from_korean.css" />
  </head>
  <body>
    <%-include('../HTML/header.html')%>

    <%-include('../HTML/from_korean.html')%>

    <%-include('../HTML/footer.html')%>
  </body>
</html>
