<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <%-include('../HTML/meta_data.html')%>
    <meta property="og:description" content="비율 구하기"> // 링크 세부정보
    <link rel="stylesheet" type="text/css" href="../CSS/get_percent.css" />
  </head>
  <body>
    <%-include('../HTML/header.html')%>

    <%-include('../HTML/get_percent.html')%>

    <%-include('../HTML/footer.html')%>
  </body>
</html>
