<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <%-include('../HTML/meta_data.html')%>
    <meta property="og:description" content="전체의 몇 퍼센트는 얼마?">
    <link rel="stylesheet" type="text/css" href="../CSS/set_percent.css" />
  </head>
  <body>
    <%-include('../HTML/header.html')%>

    <%-include('../HTML/set_percent.html')%>

    <%-include('../HTML/footer.html')%>
  </body>
</html>
