* {
  margin: 0;
  padding:0;
  font-family: 'Noto Sans KR', sans-serif;
  color:rgb(57, 57, 57);
}

body {
  width: 100%;
}

a{text-decoration: none;}
a:link {color:rgb(0, 126, 230);}
a:visited {color:rgb(0, 126, 230);}
a:hover {color:rgb(0, 126, 230);}
a:active {color:rgb(0, 126, 230);}


.mainDiv {
  width: 380px;
  height: 510px;
  border-radius: 12px;
  padding: 40px;
  border: solid 1px #e2e2e2;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top:50%;
  text-align: center;
  align-items: center;
}
